<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Index 실습</title>
</head>
<body>
    <h1>Django Template</h1>

    <ul>
        <li><a href="{% url 'app:basics' %}">basics</a></li>
        <li><a href="{% url 'app:layout' %}">layout</a></li>
        <li><a href="{% url 'app:staticfiles' %}">staticfiles</a></li>
        <li><a href="{% url 'app:urls' %}">URLs</a></li>
    </ul>
</body>
</html>