[submodule "Team_Project/EDA-1Team"]
	path = Team_Project/EDA-1Team
	url = https://github.com/encore-SKN11/EDA-1Team.git
[submodule "Team_Project/SKN011-1st-6Team"]
	path = Team_Project/SKN011-1st-6Team
	url = https://github.com/SKNETWORKS-FAMILY-AICAMP/SKN011-1st-6Team.git
[submodule "Team_Project/ML-1Team"]
	path = Team_Project/ML-1Team
	url = https://github.com/encore-SKN11/ML-1Team.git
[submodule "Team_Project/SKN11-2nd-1Team"]
	path = Team_Project/SKN11-2nd-1Team
	url = https://github.com/SKNETWORKS-FAMILY-AICAMP/SKN11-2nd-1Team.git
[submodule "Project/skn11_BaseBall_Game"]
	path = Project/skn11_BaseBall_Game
	url = https://github.com/junoaplus/skn11_BaseBall_Game.git
[submodule "Team_Project/SKN11-3rd-3Team"]
	path = Team_Project/SKN11-3rd-3Team
	url = https://github.com/SKNETWORKS-FAMILY-AICAMP/SKN11-3rd-3Team.git
