07_nlp/03_word_embedding/data
07_nlp/02_preprocessong/data
06_Deep_Learning/01_DL-BASIC/data
07_nlp/07_seq2seq/data
08_LLM/03_vector_db/chroma_db
08_LLM/03_vector_db/chromadb
08_LLM/03_vector_db/data
08_LLM/04_langchain/.env
08_LLM/04_langchain/data
08_LLM/05_rag/data
08_LLM/05_rag/chroma_db
08_LLM/06_cot/.env
08_LLM/05_rag/.env
Project/skn11_BaseBall_Game/llm/.env
08_LLM/08_multi_model/09_vision/video.mp4
08_LLM/08_multi_model/09_vision/dog.jpg
08_LLM/07_fine_tuning/korean_poetry_dataset.json
08_LLM/07_fine_tuning/rlhf_evaluation_data.json
08_LLM/08_multi_model/05_generate_image/openskyml/generated_img
08_LLM/08_multi_model/05_generate_image/openskyml/image.png
08_LLM/08_multi_model/09_vision/VOCdevkit
08_LLM/08_multi_model/09_vision/Night_Day_Chase.mp4
08_LLM/08_multi_model/image
08_LLM/07_fine_tuning/korean_poetry_dataset.json
09_front_end/03_화면구조_sample/image
09_front_end/03_화면구조_sample/2_웹문서구조1(연습)_결과화면.PNG
09_front_end/03_화면구조_sample/10_웹문서구조실습.png
09_front_end/sample