{% extends "../layout/base.html" %}
{% block content %}
<h1 class="m-3 display-5 fw-bold">Question List</h1>
<div class="container my-1">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
						<th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.subject }}</td>
                <td>{{ question.author|default:'' }}</td>
                <td>{{ question.created_at }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">질문이 존재하지 않습니다.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block script %}
<script>
    console.log('question_list.html');
</script>
{% endblock script %}